body {
  margin: 0;
}

header {
  padding-bottom: 200px;
}

header * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header p {
  margin: 200px 300px 45px 300px;
  display: block;
  text-align: center;
  font-family: "comic sans MS";
  font-size: 19px;
  color: white;
}

header h1 {
  margin: 0 15px;
  text-align: center;
}

nav {
  /* align-items: center; */
  padding-top: 25px;
}

nav button {
  margin: 0 45px;
}

main {
  background-color: midnightblue;
  padding-bottom: 300px;
}

main * {
  display: flex;
  justify-items: center;
  justify-content: center;
}

main h1 {
  margin: 0;
  justify-content: center;
  padding-top: 20px;
}

main ul {
  margin: 0;
  padding: 0;
  justify-content: center;
}

main section {
  display: grid;
  justify-content: center;
}

#bigimage {
  margin: 0 0;
  padding: 40px 0;
  justify-self: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
}

section li {
}

main li {
  margin: 0;
  padding: 0;
}
