:root {
 --header-footer-color: grey;
}

#profile-pic {
 display: flex;
 justify-self: center;
 align-self: center;
 border: 2px solid green;
 border-radius: 125px;
 margin-top: 20px;
}

header {
 background-color: var(--header-footer-color);
 display: flex;
 flex-direction: column;
 align-items: center;
 border-bottom: 3px solid black;
 overflow: hidden;
 position: fixed;
 top: 0%;
 width: 100%;
}

header h1 {
 font-family: 'Trajan Pro';
 font-size: 2rem;
 font-weight: 800;
}

header h2 {
 padding-bottom: 20px;
 font-family: 'Trajan Pro';
 font-size: large;
 font-weight: 800;
}

main {
 margin-top: 150px;
}

main h2 {
 font-weight: bolder;
 font-size: larger;
 text-transform: uppercase;
 padding-top: 20px;
 padding-left: 25px;
 padding-right: 25px;
 border-bottom: 3px solid black;
}

header li {
 display: flex;
 justify-content: center;
 padding: 3px 70px;
 border-top: 3px solid black;
 border-width: 100%;
}

#about-me {
 background-color: blue;
 display: flex;
 flex-direction: column;
 align-items: center;
}

#about-me p {
 margin: 5rem;
 text-align: center;
 border-left: 1px solid black;
 border-right: 1px solid black;
}

#projects {
 background-color: orange;
}

#projects h2 {
 text-align: center;
}

#featured-project {
 display: block;
 width: 100%;
 max-width: 400px;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 padding: 20px 0;
}

#projects ul {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: auto;
}

figcaption {
 text-align: center;
 padding-bottom: 20px;
}

#contact-me {
 background-color: teal;
 display: block;
 text-align: center;
}

.responsive {
 display: block;
 width: 100%;
 max-width: 200px;
 height: auto;
 margin-left: auto;
 margin-right: auto;
}

footer {
 background-color: var(--header-footer-color);
 text-align: center;
}

@media screen and (min-width: 1024px) {
 header {
  background-color: yellow;
 }

 #about-me p {
  max-width: 50%;
  padding-left: 5px;
  padding-right: 5px;
 }
}
